html {
    height: 100%;
}

body { 
    min-height: 100%; 
}

h1 {
    font-size: 20px;
}

.container {
    display:grid;
    grid-template-columns: 33.33% 66.66%;
    grid-template-areas: 
    "l m";
}

.leftPanel {
    background-color: orange;
    grid-area: "l";
}

.mainForm {
    
    grid-area: "m";
}

p {
    align-items: center;
}

.leftPanel #panelTitle {
    align-self: center;

}